<div>

  <button class="btn btn-secondary" (click)="toggleEditMode()" *ngIf="listMode=='edit'">Cancel Editing</button>
  <button class="btn btn-primary m-1" (click)="save()" *ngIf="listMode=='edit'" [disabled]="!isValidSave">
    <i class="fa-regular fa-floppy-disk  "></i>
  </button>
  <div class="">
    <button class="btn btn-success btn-sm " *ngIf="listMode!='edit'">
      <i class="fa-solid fa-pen-to-square fa-1x p-1" (click)="toggleEditMode()">  Edit</i>
    </button>
  </div>

</div>
<form>
  <table class="table ">
    <thead class="thead-inverse" *ngIf="listMode!='edit'" [formGroup]="formGroup">
      <tr>
        <th>
          <input placeholder="Group Id" class="form-control border border-dark border-opacity-50 taCen" formControlName="groupId">
        </th>
        <th>
          <input placeholder="Group Name" class="form-control border border-dark border-opacity-50 taCen" formControlName="groupName">
        </th>
        <th>
          <input placeholder="Description" class="form-control border border-dark border-opacity-50 taCen" formControlName="description">
        </th>
      </tr>
    </thead>
    <thead class="thead-inverse" *ngIf="listMode=='edit'">
      <tr>
        <th>
          <button class="btn btn-primary" (click)="addGroup()">New</button>
        <!-- </th>
        <th> Group Id </th>
        <th> Group Name </th>
        <th> Description </th>
      </tr> -->
    </th>
    <th >
      <input placeholder="Group Id" class="form-control border border-dark border-opacity-50 taCen "  >
    </th>
    <th >
      <input placeholder="Group Name" class="form-control border border-dark border-opacity-50 taCen "  >
    </th>
    <th >
      <input placeholder="Description" class="form-control border border-dark border-opacity-50 taCen "  >
    </th>



    </thead>
    <tbody *ngIf="listMode!='edit'">
      <tr *ngFor="let group of clonedList;let index=index;">
        <td class="taCen ">{{group.groupId}}</td>
        <td class="taCen "> {{group.groupName }}</td>
        <td class="taCen ">{{group.description}}</td>

      </tr>
    </tbody>
    <tbody *ngIf="listMode=='edit'">
      <ng-container [formGroup]="formGroupForList">
        <ng-container formArrayName="groups">
          <tr *ngFor="let groupForm of groups.controls;let index=index;">
            <ng-container [formGroup]="groupFormGroupAt(index)">
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(index)">
                  <i class="fa-regular fa-trash-can"></i>
                  <!-- Delete -->
                </button>
              </td>
              <td class=" pt-3 taCen" scope="row" *ngIf="isExistInGroupList(groupForm.value.groupId)">{{groupForm.value.groupId}}</td>
              <td class=" taCen" scope="row" *ngIf="!isExistInGroupList(groupForm.value.groupId)">
                <input formControlName="groupId" class="form-control taCen">
              </td>
              <td>
                <input formControlName="groupName" class="form-control taCen">
              </td>
              <td>
                <input formControlName="description" class="form-control">
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</form>
