<div>

  <button class="btn btn-secondary" (click)="toggleEditMode()" *ngIf="listMode=='edit'">Cancel Editing</button>
  <button class="btn btn-primary m-1" (click)="save()" *ngIf="listMode=='edit'" [disabled]="!isValidSave">
    <i class="fa-regular fa-floppy-disk  "></i>
  </button>
  <div class="mb-4">
    <button class="btn btn-success btn-sm" *ngIf="listMode!='edit'">
      <i class="fa-solid fa-pen-to-square fa-1x p-1" (click)="toggleEditMode()">  Edit</i>
    </button>
  </div>
  <form>
    <table class="table">
      <thead class="thead-inverse" *ngIf="listMode!='edit'" [formGroup]="formGroup">
        <tr>
          <th>
            <input placeholder="User Id" class="form-control border border-dark border-opacity-50 taCen " formControlName="userId">
          </th>
          <th>
            <input placeholder="Group Id" class="form-control border border-dark border-opacity-50 taCen " formControlName="groupId">
          </th>
          <th>
            <input placeholder="Date of Relationship Creation" class="form-control border border-dark border-opacity-50 taCen " formControlName="createDate"
              type="date">
          </th>
        </tr>
      </thead>
      <thead class="thead-inverse" *ngIf="listMode=='edit'">
        <tr>
          <th>
            <button class="btn btn-primary btn-sm" (click)="addUserAccess()">New</button>
          </th>
          <th >
            <input placeholder="User Id" class="form-control border border-dark border-opacity-50 taCen "  >
          </th>
          <th >
            <input placeholder="Group Id" class="form-control border border-dark border-opacity-50 taCen "  >
          </th>
          <th >
            <input placeholder="Date of Relationship Creation" class="form-control border border-dark border-opacity-50 taCen "  >
          </th>
          
      </thead>
      <tbody *ngIf="listMode!='edit'">
        <tr *ngFor="let userAccess of clonedList;let index=index;">
          <td class="taCen " scope="row">{{userAccess.userId}}</td>
          <td class="taCen "> {{userAccess.groupId }}</td>
          <td class="taCen ">{{userAccess.createDate}}</td>

        </tr>
      </tbody>
      <tbody *ngIf="listMode=='edit'">
        <ng-container [formGroup]="formGroupForList">
          <ng-container formArrayName="userAccesss">
            <tr *ngFor="let userAccessForm of userAccesss.controls;let index=index;">
              <ng-container [formGroup]="userAccessFormGroupAt(index)">
                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteItem(index)">
                    <i class="fa-regular fa-trash-can"></i>
                    <!-- Delete -->
                  </button>
                </td>
                <td scope="row">
                  <select formControlName="userId" class="form-control">
                    <ng-container *ngFor="let user of userList">
                      <option [value]="user.userId">{{user.userId}}</option>
                    </ng-container>
                  </select>
                  <!-- <input placeholder="User Id" class="form-control" formControlName="userId"> -->
                </td>
                <td>
                  <select formControlName="groupId" class="form-control ">
                    <ng-container *ngFor="let group of groupList">
                      <option [value]="group.groupId">{{group.groupId}}</option>
                    </ng-container>
                  </select>
                  <!-- <input placeholder="Group Id" class="form-control" formControlName="groupId"> -->
                </td>
                <td>
                  <input placeholder="Date of Relationship Creation" class="form-control" formControlName="createDate">
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </form>
