<div>

  <button class="btn btn-secondary" (click)="toggleEditMode()" *ngIf="listMode=='edit'">Cancel Editing</button>
  <button class="btn btn-primary m-1" (click)="save()" *ngIf="listMode=='edit'" [disabled]="!isValidSave">
    <i class="fa-regular fa-floppy-disk  "></i>
  </button>
  <div class="">
    <button class="btn btn-success btn-sm" *ngIf="listMode!='edit'">
      <i class="fa-solid fa-pen-to-square fa-1x p-1" (click)="toggleEditMode()">  Edit</i>
    </button>
  </div>
</div>
<form>
  <table class="table ">
    <thead class="thead-inverse" *ngIf="listMode!='edit'" [formGroup]="formGroup">
      <tr>
        <th >
          <input placeholder="User Id" class="form-control border border-dark border-opacity-50 taCen "  formControlName="userId">
        </th>
        <th>
          <input placeholder="First Name" class="form-control border border-dark border-opacity-50 taCen"  formControlName="firstName">
        </th>
        <th>
          <input placeholder="Last Name" class="form-control border border-dark border-opacity-50 taCen"  formControlName="lastName">
        </th>
        <th>
          <input placeholder="Login Name" class="form-control border border-dark border-opacity-50 taCen" formControlName="loginName">
        </th>
        <th>
          <input placeholder="Password" class="form-control border border-dark border-opacity-50 taCen"  formControlName="password">
        </th>
        <th>
          <input placeholder="Employee Email" class="form-control border border-dark border-opacity-50 taCen"  formControlName="email">
        </th>
      </tr>
    </thead>
    <thead class="thead-inverse" *ngIf="listMode=='edit'">
      <tr>
        <th >
          <button class="btn btn-primary" (click)="addUser()">New</button>
        </th>
        <th >
          <input placeholder="User Id" class="form-control border border-dark border-opacity-50 taCen "  >
        </th>
        <th>
          <input placeholder="First Name" class="form-control border border-dark border-opacity-50 taCen"  >
        </th>
        <th>
          <input placeholder="Last Name" class="form-control border border-dark border-opacity-50 taCen"  >
        </th>
        <th>
          <input placeholder="Login Name" class="form-control border border-dark border-opacity-50 taCen" >
        </th>
        <th>
          <input placeholder="Password" class="form-control border border-dark border-opacity-50 taCen"  f>
        </th>
        <th>
          <input placeholder="Employee Email" class="form-control border border-dark border-opacity-50 taCen"  >
        </th>
      </tr>

    </thead>
    <tbody *ngIf="listMode!='edit'"  >
      <tr *ngFor="let user of clonedList;let index=index;">
        <td class="taCen " >{{user.userId}}</td>
        <td class="taCen"> {{user.firstName}} </td>
        <td class="taCen">{{user.lastName}}</td>
        <td class="taCen">{{user.loginName}}</td>
        <td class="taCen">{{user.password}}</td>
        <td class="taCen">{{user.email}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="listMode=='edit'" >
      <ng-container [formGroup]="formGroupForList">
        <ng-container formArrayName="users">
          <tr *ngFor="let userForm of users.controls;let index=index;">
            <ng-container [formGroup]="userFormGroupAt(index)">
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(index)">
                  <i class="fa-regular fa-trash-can"></i>
                  <!-- Delete -->
                </button>
              </td>
              <td class=" pt-3 taCen" scope="row" *ngIf="isExistInUserList(userForm.value.userId)">{{userForm.value.userId}}</td>
              <td class=" taCen" scope="row" *ngIf="!isExistInUserList(userForm.value.userId)">
                <input formControlName="userId" class="form-control taCen">
              </td>
              <td>
                <input formControlName="firstName" class="form-control taCen">
              </td>
              <td>
                <input formControlName="lastName" class="form-control taCen">
              </td>
              <td>
                <input formControlName="loginName" class="form-control taCen">
              </td>
              <td>
                <input formControlName="password" class="form-control taCen">
              </td>
              <td>
                <input formControlName="email" class="form-control taCen">
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</form>
