<div>

  <button class="btn btn-secondary" (click)="toggleEditMode()" *ngIf="listMode=='edit'">Cancel Editing</button>
  <button class="btn btn-primary m-1" (click)="save()" *ngIf="listMode=='edit'" [disabled]="!isValidSave">
    <i class="fa-regular fa-floppy-disk  "></i>
  </button>
  <div class="mb-4">
    <button class="btn btn-success" *ngIf="listMode!='edit'">
      <i class="fa-solid fa-pen-to-square fa-2x m-1" (click)="toggleEditMode()"></i>
    </button>
  </div>
</div>
<form>
  <table class="table table-striped table-inverse table-responsive table-bordered">
    <thead class="thead-inverse" *ngIf="listMode!='edit'" [formGroup]="formGroup">
      <tr>
        <th>
          <input placeholder="User Id" class="form-control" formControlName="userId">
        </th>
        <th>
          <input placeholder="First Name" class="form-control" formControlName="firstName">
        </th>
        <th>
          <input placeholder="Last Name" class="form-control" formControlName="lastName">
        </th>
        <th>
          <input placeholder="Login Name" class="form-control" formControlName="loginName">
        </th>
        <th>
          <input placeholder="Password" class="form-control" formControlName="password">
        </th>
        <th>
          <input placeholder="Employee Email" class="form-control" formControlName="email">
        </th>
      </tr>
    </thead>
    <thead class="thead-inverse" *ngIf="listMode=='edit'">
      <tr>
        <th>
          <button class="btn btn-primary" (click)="addUser()">New
          </button>
        </th>
        <th> User Id </th>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Login Name </th>
        <th> Password </th>
        <th> Employee Email </th>
      </tr>
    </thead>
    <tbody *ngIf="listMode!='edit'">
      <tr *ngFor="let user of clonedList;let index=index;">
        <td scope="row">{{user.userId}}</td>
        <td> {{user.firstName}} </td>
        <td>{{user.lastName}}</td>
        <td>{{user.loginName}}</td>
        <td>{{user.password}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="listMode=='edit'">
      <ng-container [formGroup]="formGroupForList">
        <ng-container formArrayName="users">
          <tr *ngFor="let userForm of users.controls;let index=index;">
            <ng-container [formGroup]="userFormGroupAt(index)">
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(index)">
                  <i class="fa-regular fa-trash-can"></i>
                  <!-- Delete -->
                </button>
              </td>
              <td scope="row" *ngIf="isExistInUserList(userForm.value.userId)">{{userForm.value.userId}}</td>
              <td scope="row" *ngIf="!isExistInUserList(userForm.value.userId)">
                <input formControlName="userId" class="form-control">
              </td>
              <td>
                <input formControlName="firstName" class="form-control">
              </td>
              <td>
                <input formControlName="lastName" class="form-control">
              </td>
              <td>
                <input formControlName="loginName" class="form-control">
              </td>
              <td>
                <input formControlName="password" class="form-control">
              </td>
              <td>
                <input formControlName="email" class="form-control">
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</form>
